body {
    background-color: #F9F9F9;
}

.navbar-brand{
    margin-left: 5vw;
}

.jumbotron {
    height: 70vw;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;


    display: flex;
    align-items: center;
}

@media screen and (min-width: 576px) {
    .jumbotron {
        height: 40vw;
    }

    #jumbotron_text {
        margin-bottom: 12vw;
    }
}


#jumbotron_text {
    
}

.jumbotron-container
{
    padding: 6vh;
    
}

.mission-image {
    width: 30vw;
    height: 20vw;
    background-color: #CDF0EA;
}

#mission_statement {
    
}

#product_container {
    background-color: #BEAEE2;
}


.product-1 {
    width: 39vw;
    height: 39vw;

    background-color: aqua;
}

.product-2 {
    width: 19.5vw;
    height: 13vw;
    background-color: peachpuff;
}


.product-3 {
    width: 19.5vw;
    height: 26vw;

    background-color: azure;
}

.review-image {
    width: 26vw;
    height: 19.5vw;
    background-color: #F7DBF0;
}

