@font-face {
    font-family: goblin;
    src: url(Goblin.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: goblin, Arial;
    /*background-color : #85381a;*/
}

.jumbotron{
    height: 60vh;
    text-align: center;
}

.jumbotron-content{
    text-align: center;
}

#secondary_text{
}

#project_summary{
    text-align: center;
}

