@font-face{
    font-family: pixel;
    src: url(ARCADECLASSIC.ttf);
}

@font-face {
    font-family: goblin;
    src: url(Goblin.otf);
}

body
{
    margin: 0;
    padding: 0;
    font-family: goblin, Arial;
    /*background-color : #85381a;*/
    background-image: url("images/background.png");
    cursor: default;
}

p{
    margin-left : 0.2vw;
}

.tooltip {
    background-color: #F7F3E3;
    box-shadow: 0 0 7px #2B2118;
    border-radius: 0;
    font-family: goblin;
    color: black;
}

.toolbar{
    background-color: #200804;
}

.toolbar h1{
    color: #ECF0F1;
}

#title{
    margin: 0;
    padding: 2vh;
    text-align: center;
}

#interface{
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-areas:
        "pt ic po"
        ". db .";

    justify-content: center;
}

#item_container {
    grid-area: ic;

    background-color: #ECF0F1;
    border-style: solid;
    border-color: #2B2118;

    height: 63vh;
    width: 45vw;

    margin: 2vh;

    display: grid;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-columns: 15vw 15vw 15vw;
}

.shop_item {
    width: 9vw;
    height: 9vw;
    padding: 0;
    /*background-color: green;*/
    margin: 1vw auto;

    display: flex;
    justify-content: center;
    align-content: center;
}

.shop_item img{

}

/*@keyframes bobbing{
    from{
        top: 2%;
    }
    to{
        top: 7%;
    }
}*/

.shop_item:hover{
    
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
    z-index: 1;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
    z-index: 1;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
    z-index: 1;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;
    z-index: 1;
}

.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;
    z-index: 1;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;
    z-index: 1;
}

.item7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    position: relative;
    z-index: 1;
}

.item8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    position: relative;
    z-index: 1;
}

.item9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    position: relative;
    z-index: 1;
}

#pouch{
    grid-area: po;

    width: 12vw;
    height: 12vw;

    background-color: #ECF0F1;

    border-color: #2B2118;
    border-style: solid;
    

    margin: 2vh;
    margin-top: 7vh;

    display: flex;
    justify-content: center;
    align-content: center;
}

#price_tag {
    width: 12vw;
    height: auto;
    background-color: #ECF0F1;
    border-style: solid;
    border-color: #2B2118;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vh;
    margin-top: 7vh;

    min-height: 35vh;
    max-height: 50vh;
}

#bought_items{
    margin-right: auto;
}

#total_cost{
    margin-right: auto;
    margin-top: auto;
}

#purchase_button {
    font-family: goblin;
    width: 9vw;
    font-size: 0.5vw;
    margin-bottom: 0.5vw;
}

.purchased_item{
    display: flex;
}

.purchased_item button{
    width: 1vw;
    height: 1vw;
    padding: 0;
    margin: 0;
    font-family: goblin, Arial;
    font-size: 0.3vw;
    margin-top: 0.4vh;
    margin-left: 0.5vh;
}

#description_box{
    grid-area: db;
    /*display: flex;*/
    
    margin: 2vh;
    margin-top: 0;

    width: 45vw;
    background-color: black;

    display: grid;
    grid-template-rows: 10vw 2vw;
    grid-template-areas:
        "cb db"
        "cn db";
}

#character_box {
    grid-area: cb;

    width: 10vw;
    height: 10vw;
    background-color: #528287;
    border: solid;
    border-color: #2B2118;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#character_name_box {
    grid-area: cn;

    border: solid;
    background-color: #F7F3E3;
    width: auto;
    height: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.5vw;
}


#dialogue_box{
    grid-area: db;

    height: 12vw;
    width: 34.75vw;
    background-color: #ECF0F1;
    border: solid;
    border-color: #2B2118;
    border-left: 0;
}

#dialogue{
    font-size: 0.8vw;
    margin-left: 1vw;
    margin-top: 1vw;
}