body
{
    background-color:oldlace;
    font-family: 'Rubik', serif
}

h1
{
    font-weight: bolder;
    text-align: center;
}

a
{
    text-decoration: none;
    color: green;
}

a:hover 
{
    color: red;
}

a:visited 
{
    color: yellow;
}



.Chapter 
{
    font-weight: bolder;
    color: cornflowerblue;
}

