.portfolioPage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
}

.portfolioContainer{
    background-color: #FBFBFB;
    height: 75vh;
    width: 75vw;

    margin: 1rem 0rem 0 0rem;

    border-radius: 4px;

    filter: drop-shadow(0px 4px 2px #c2c2c2);
}

.portfolioCaseStudyHeader{
    margin-left: 3rem;
}

.portfolioCaseStudyContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caseStudyCard p{
    margin: 0 3rem 0 3rem;
}

.caseStudySVG{
    height: 60vh;
    width: 20vw;
    background-color: beige;
    margin: 0 3rem 0 3rem;
}

.sideProjectContainer{
    height: 20vh;
    width: 75vw;

    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;
}

.sideProjectHeader{
    margin-left: 3rem;
}

.sideProjectSVGContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 5rem 0;
}

.sideProjectCard p {
    margin: 0 3rem 0 3rem 3rem;
}

.sideProjectSVG{
    height: 30vh;
    width: 20vw;
    background-color: rgb(199, 199, 57);
    margin: 0 3rem 0rem 3rem;
}

